body {
  font-family: 'Segoe UI';
}

.abas {
  list-style-type: none;
  display: flex;
  margin-bottom: 0px;

  li {
    position: relative;
    padding: 20px;
    cursor: pointer;
    color: #666666;
    font-size: 16px;
  }

  li::before {
    display: none;
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1bb9eb;
    transition: 0.5s;
  }

  .li-selecionada::before {
    display: block;
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1284ff;
    transition: 0.5s;
  }

  li:hover {
    color: #a1a1a1;
  }

  li:hover::before {
    display: block;
  }
}

.linha-abas {
  width: 100%;
  height: 2px;
  background-color: #f1f1f2;
  margin-bottom: 10px;
}

//-------------------------------Dashboard

#contadores {
  display: flex;
  width: 100%;
  overflow: auto;
  flex-wrap: wrap;
}

.contador {
  width: 250px;
  height: 112px;
  padding: 20px;
  border: 1px solid #ececec;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 3px 12px 0px #e6e6e8;
  position: relative;
  margin: 5px;
}

.contador-titulo {
  font-size: 21px;
  color: #666666;
}

.contador-quantidade {
  font-size: 60px;
  color: #666666;
  position: absolute;
  bottom: 15px;
}

.contador:hover {
  cursor: pointer;

  .contador-quantidade {
    color: #1bb9eb;
  }
}

.add-contador {
  width: 100px;
}

.contador-mais {
  font-size: 75px;
  color: #666666;
  text-align: center;
}

.add-contador:hover {
  .contador-mais {
    color: #1bb9eb;
  }
}

.grafico-tabela {
  display: flex;
}

#projetos {
  width: calc(50% - 10px);
  height: 620px;
  background-color: white;
  border: 1px solid #ececec;
  border-radius: 8px;
  box-shadow: 1px 3px 12px 0 #e6e6e8;
  margin: 5px;
  padding: 20px;
  overflow-y: auto;
  overflow-x: auto;
}

.cabecalho-tabela {
  th {
    padding: 10px;
    font-size: 17px;
    color: #000;
    text-align: left;
    font-weight: 100;
  }
}

.tabela-projetos {
  width: 100%;
  border-spacing: 0;
  background-color: white;

  tr {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.projetos-carregados {
  color: #666666;
  font-size: 16px;
  text-align: left;

  td {
    padding: 10px;
    font-weight: 100;
  }
}

.tarefas-percent {
  text-align: center;
  font-size: 14px;
}

.tarefas-barra {
  width: 100%;
  height: 6px;
  background: #dcdcde;
}

.barra-tarefas-concluida {
  height: 6px;
  background: #1bb9eb;
}

.projetos-carregados:nth-child(even) {
  background-color: #fbfbfb;
}


#grafico-container {
  width: calc(50% - 10px);
  height: 620px;
  border: 1px solid #ececec;
  border-radius: 8px;
  background-color: white;
  box-shadow: 1px 3px 12px 0 #e6e6e8;
  margin: 5px;
  padding: 20px;
  overflow-y: auto;
  overflow-x: auto;
}

#grafico {
  display: flex;
  justify-content: center;
  height: 80%;
}

.grafico {
  height: 100%;
}

.grafico-titulo {
  font-size: 19px;
  color: #666666;
}

.grafico-dados {
  width: 60px;
  margin-left: calc(50% - 30px);
  color: white;
}

.graficos {
  margin: 20px;
  font-size: 16px;
  color: #666666;
  height: 78%;
}

.grafico-concluidas {
  background-color: #34a937;
  height: 0px;
  transition: 0.6s;
}

.grafico-andamento {
  background-color: #0b92b1;
  height: 0px;
  transition: 0.6s;
}

.grafico-aguardo {
  background-color: #808080;
  height: 0px;
  transition: 0.6s;
}

.grafico-vencidas {
  background-color: #e22929;
  height: 0px;
  transition: 0.6s;
}

.grafico-projeto {
  border-top: 1px solid #e1e1e4;
}

.legenda-grafico {
  width: 100%;
  display: flex;
  justify-content: center;
}

.legenda-cor {
  border: 1px solid #f1f1f2;
  width: 15px;
  height: 15px;
  margin: 2px;
}

.legenda {
  margin: 10px;
  color: #666666;
  font-size: 15px;
  display: flex;
}

.legenda-concluidas {
  .legenda-cor {
    background-color: #34a937;
  }
}

.legenda-andamento {
  .legenda-cor {
    background-color: #0b92b1;
  }
}

.legenda-aguardo {
  .legenda-cor {
    background-color: #808080;
  }
}

.legenda-vencidas {
  .legenda-cor {
    background-color: #e22929;
  }
}

.aba-conteudo {
  transition: 0.6s;
}

.aba-selecionada {
  display: block;
}

.aba-nao-selecionada {
  display: none;
}


//------- clientes

#clientes-tabela {
  width: calc(98% - 10px);
  height: 620px;
  border: 1px solid #ececec;
  border-radius: 8px;
  background-color: white;
  box-shadow: 1px 3px 12px 0 #e6e6e8;
  margin: 5px;
  padding: 20px;
  overflow-y: auto;
  overflow-x: auto;
}

.tabela-clientes {
  width: 100%;
  border-spacing: 0;

  tr {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.clientes-carregados {
  color: #666666;
  font-size: 16px;
  text-align: left;

  td {
    padding: 10px;
    font-weight: 100;
  }
}

.clientes-percent {
  text-align: center;
  font-size: 14px;
}

.clientes-barra {
  width: 100%;
  height: 6px;
  background: #dcdcde;
}

.barra-clientes-concluida {
  height: 6px;
  background: #1bb9eb;
}

.clientes-carregados:nth-child(even) {
  background-color: #fbfbfb;
}

// --------- projetos

#projeto-aba-tabela {
  width: calc(98% - 10px);
  height: 620px;
  border: 1px solid #ececec;
  border-radius: 8px;
  background-color: white;
  box-shadow: 1px 3px 12px 0 #e6e6e8;
  margin: 5px;
  padding: 20px;
  overflow-y: auto;
  overflow-x: auto;
}

.tabela-projeto-aba {
  width: 100%;
  border-spacing: 0;

  tr {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.projeto-aba-carregados {
  color: #666666;
  font-size: 16px;
  text-align: left;

  td {
    padding: 10px;
    font-weight: 100;
  }
}

.projeto-aba-percent {
  text-align: center;
  font-size: 14px;
}

.projeto-aba-barra {
  width: 100%;
  height: 6px;
  background: #dcdcde;
}

.barra-projeto-aba-concluida {
  height: 6px;
  background: #1bb9eb;
}

.projeto-aba-carregados:nth-child(even) {
  background-color: #fbfbfb;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::before {
  border-bottom: 10px solid rgba(0, 0, 0, 0.8);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 0;
  content: "";
  left: calc(50% - 5px);
  opacity: 0;
  position: absolute;
  top: -10000px;
  transition: opacity 0.3s ease-in;
}

[data-tooltip]::after {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  color: #fff;
  min-width: 30px;
  text-align: center;
  content: attr(data-tooltip);
  left: 0;
  opacity: 0;
  padding: 10px;
  position: absolute;
  top: -10000px;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in;
}

[data-tooltip]:hover::after, [data-tooltip]:hover::before {
  top: 100%;
  opacity: 1;
  z-index: 1;
}

#popup-sucsess {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.5);

  .popup-sucsess-front {
    width: 25%;
    height: 150px;
    position: absolute;
    left: 35%;
    background-color: #fff;
    top: 15%;
    border-radius: 10px;
    padding: 20px;
  }

  .popup-sucsess-title {
    font-size: 20px;
  }

  .popup-sucsess-message {
    font-size: 18px;
  }

  .popup-sucsess-ok {
    width: 80px;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
